.main {
  width: 100%;
  max-width: 960px;
  margin: 4rem auto;
  padding: 0 1.5rem;
  position: relative;
  z-index: 10;
  margin-top: -2rem;
}

.todoForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 4rem;
}

.input {
  width: 100%;
  outline: none;
  height: 3.375rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid transparent;
  padding: 1rem;
}

.input::placeholder {
  color: var(--gray-300);
  font-size: 1rem;
}

.input:focus {
  border-color: var(--purple-dark);
}

.button {
  height: 3.375rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: var(--blue);
  transition: background-color 0.2s;
}

.todoList {
}

.todoListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.todoListHeader div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todoListHeader div p {
  color: var(--blue);
  font-weight: bold;
}

.todoListHeader div:nth-child(2) p {
  color: var(--purple);
}

.todoListHeader div span {
  background-color: var(--gray-400);
  border-radius: 999rem;
  color: var(--gray-200);
  font-weight: bold;
  padding: 0.125rem 0.75rem;
  font-size: 0.75rem;
}

.todo {
  display: flex;
  align-items: center;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  columns: var(--gray-100);
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 8px;
}

.todo svg {
  cursor: pointer;
  color: var(--blue);
}

.checkbox {
  background-color: transparent;
  outline: none;
  border: none;
}

.checkbox:hover svg {
  transform: color 0.2s;
  color: var(--blue-dark);
}

.delete {
  background-color: var(--gray-500);
  outline: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 4px;
  margin-left: auto;
}

.delete svg {
  color: var(--gray-300);
}

.delete:hover {
  transition: color 0.2s, background-color 0.2s;
  background-color: var(--gray-400);
  color: var(--danger);
}

.delete:hover svg {
  color: var(--danger);
}